.main_container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100px;
  background-color: #d9d9d9;
  height: calc(100vh - 100px);
}

.threads_countainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.thread_title {
  margin-bottom: 20px;
}

.thread {
  height: 50px;
  width: 300px;
  background-color: #ffffff;
  border: solid 1px #a8a8a8;
  padding: 4px 10px 20px;
  border-radius: 3px;
}
