.threadsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  height: calc(100vh - 100px);
  background-color: #d9d9d9;
}

.threads_title {
  margin-top: 100px;
  margin-bottom: 50px;
}

form {
  width: 500px;
}

.input {
  width: 100%;
  height: 30px;
  padding: 0 4px;
}

.formContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 8px 24px 0;
}

.backToButton {
  padding: 8px;
  background-color: rgb(97, 97, 108);
  margin-top: 8px;
  border-radius: 5px;
}

.backToButton:hover {
  background-color: rgb(107, 107, 118);
}

.submit {
  background-color: #66da8d;
  border: none;
  margin-top: 8px;
  padding: 8px 16px;
  border-radius: 5px;
  color: #ffffff;
}

.submit:hover {
  background-color: #35d26a;
}

@media (max-width: 520px) {
  form {
    width: 80vw;
  }
}
